div.header {
    padding: 15px;
    background-color: #13a6ff;
}
div.header p {
    color: white;
    font-size: 25px;
}

.container {
    padding: 10px;
}

p.head {
    padding: 15px 0px 10px 0px;
    font-size: 22px;
}

p.input_data {
    padding: 5px 0px 5px 10px;
    display: inline-block;
}

a {
    text-decoration: none;
}

button{
    margin-top: 20px;
    padding: 10px 100px;
    display: block;

}
