/* index.css */

div.header {
    padding: 5px 5px 5px 2px ;
    background-color: #87CEFA;
}
div.header p {
    color: black;
    font-size: 5px;
}

.form {
    padding: 10px;
}

.form p {
    padding: 5px 0px 5px 0px;
    font-size: 15px;
}

.search_box , .search_price_box{
    padding: 5px 5px 5px 2px ;
}

button{
    margin-top: 20px;
    padding: 10px 100px;
    display: block;
}
