<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="title">
      <h1>光のデータ通信さん</h1>
    </div>
    <div class="form">
      <link rel="stylesheet" type="text/css" href="static/index.css?">
      <div class="container">
        <form action="/post" method="post">
          <h2>Amazonのアポ取って来て</h2>
          <h2>URLなら取ってこれるっしょ？</h2><br>
          <h3>【使い方】</h3>
          <h4>怖い上司に詰められるないようにAmazonで検索したURLアポを貼り付けるんだ！！</h4>
          <h4>そしてダウンロードしたMEIGEN.csvを上司に渡すんだ！！</h4>
          <h4>URLを間違えたり、空白のまま光通信ボタンを押したら.......</h4>
          <h4>Tsumeが待っているかも....</h4>
          <h4>【URLアポを貼り付ける】</h4>
          <input class='search_box' type="URL" id="URL" name="URL" placeholder="https://www.amazon.co.jp/..."><br>
          <button type="submit" class="btn">光送信ボタン<br>
            ダウンロード<br>
            （光のロマンでコール中....）</button><br>
        </form>
      </div>
    </div>
  </body>
</html>
