  <!-- Form
  ================================================== -->
<!DOCTYPE html>
<div class="">
  <h1>光の通信さん</h1>

</div>
<div class="form">
  <link rel="stylesheet" type="text/css" href="static/index.css">
  <div class="container">
    <form action="/post" method="post">
      <p class='URL' for="name">通信URL</p>
      <input class='search_box' type="url" id="URL" name="URL" placeholder="https://www..."><br>
      <!-- <p class='profit_rate' for="name"> 利益率 </p>
      <input class='search_box' type="text" id="profit_rate" name="profit_rate" placeholder="1.3(30%の利益を出したい場合)">

      <p class='shipping_fee' for="name"> 想定送料 </p>
      <input class='search_box' type="text" id="shipping_fee" name="shipping_fee" placeholder="1000">

      <p class='' for="name"> 希望出品数 </p>
      <input class='search_box' type="text" id="amounts_of_lists" name="amounts_of_lists" placeholder="250">

      <p class='' for="name"> 商品のブランド </p>
      <input class='search_box' type="text" id="brand" name="brand" placeholder="BANDAI">

      <p class='search_weight' for="name"> カテゴリーナンバー </p>
      <input class='search_box' type="text" id="category_number" name="category_number" placeholder="158768">

      <p class='' for="name"> 商品種類 </p>
      <input class='search_box' type="text" id="item_type" name="item_type" placeholder="シューズ=1 その他=0">

      <p class='' for="name"> シューズ種類（上記でシューズを選んだ場合記入） </p>
      <input class='search_box' type="text" id="shoes_type" name="shoes_type" placeholder="Athletic_Sneakers">

      <p class='' for="name"> Paypal_Emali_Address </p>
      <input class='search_box' type="text" id="Paypal_Emali_Address" name="Paypal_Emali_Address" placeholder="XXXX@gmail.com">

      <p class='' for="name"> ReturnProfileName </p>
      <input class='search_box' type="text" id="ReturnProfileName" name="ReturnProfileName" placeholder="Returns_Accepted_Buyer_30Days_Money_Back">

      <p class='' for="name"> Shipping_Profile_Name </p>
      <input class='search_box' type="text" id="Shipping_Profile_Name" name="Shipping_Profile_Name" placeholder="Shipping_Free_$00000"> -->

      <button type="submit" class="btn">光送信＆ダウンロード（光のロマンで稼働中....）</button>
    </form>
  </div>
</div>
